####################################################################################################   
# EduSense Caddyfile
# Author: Dillon Sapp
#
# This file tells Caddy where the frontend files are and where to send api requests 
# (to our Django backend)
####################################################################################################

edusensetutor.org {
    # Access to frontend static files
    root * interface/dist
    encode gzip zstd
    file_server
    try_files {path} /index.html

    # Path to route to
    @api {
        path /api/*
    }

    # Reverse proxy to Django backend
    reverse_proxy @api localhost:8000

    # Security headers
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Referrer-Policy "no-referrer-when-downgrade"
        Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), camera=(), display-capture=(), \
                            fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), \
                            usb=(), xr-spatial-tracking=(), sync-xhr=(), wake-lock=(self), picture-in-picture=(self)"
        Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data:;"
    }
}

